$primary-color: #17ffc3;
$text-color: rgb(18, 18, 18);
$background-color: #cccccc;
$card-color: rgb(240, 240, 240);
$grey: rgb(211, 211, 211);
$black: rgb(18, 18, 18);
$shadow-color: rgba(0, 0, 0, 0.3);
$shadow-color-light: rgba(0, 0, 0, 0.1);
$shadow-color-hover: rgba(33, 33, 33, 0.2);
